#start{
    a{
        border: 3px colid #000000;
        color: green;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        display: block;
        width: 200px;
        text-align: center;
        font-size:2em;
        display: inline-block;
    }
    &:hover{
        background-color: black; color: green; 
    }
}

#start {
    &#wonGame {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    position: absolute;
    top:70%;
    left:47%;
    margin-top: -200px;
    margin-left: -80px;
    height:200px;
    width:250px;
    text-align: center;
}
}

//3-5 SCSS mixins

@mixin instruction-title {
    color:green;
    font-size: 24pt;    
}
#start h1 {
    @include instruction-title;
    background-color: yellow;
}


@mixin start-button {
    border: 3px solid #000000;
    color: green;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#start a{
    @include start-button;
    background-color:yellow; 
}


@mixin gamebox{
        width: 420px;
        height: 420px;
        background-color: yellow;
        border: 10px solid green;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
}

#puzzleboard {
    @include gamebox;
}