body {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color:black;
        text-shadow: 2px 2px red;
        
}

/*Resize the Simpsons logo*/
.logo {
        height:200px;
        width: 500px;

}

