body {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color:black;
        text-shadow: 2px 2px red;
        
}

/*Resize the Simpsons logo*/
.logo {
        height:200px;
        width: 500px;

}
/*Create the box/board for the sliding puzzle game(height,width,center and color)*/
.puzzle-board {
        width: 400px;
        height: 400px;
        margin: 0 auto
        background-color: yellow;
        border: 15pox solic

